/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*{
  box-sizing:border-box; 
  padding:0;
  margin:0; 
}

html{
  scroll-behavior: smooth;
}

body {
  font-family:"Lato",sans-serif;/*lab2:Change the default font.*/
  font-size:16px;
  background-image: url("../img/bgtexture.jpg");
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-attachment: scroll;
  background-repeat: repeat-y;
  color:#444442;
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header{
  background-color: #69524B;
  text-align: center;
  color:white;
  padding-top:60px;
}

.menu-toggle{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  color:white;
  cursor: pointer;
  z-index: 2000;
}

.menu-toggle .fa-times{
  display: none;
}



header.nav-open .fa-times{
  display: block;
}

header.nav-open .fa-bars{
  display: none;
}


#top_nav{
 position: absolute;
 top: 0;
 left: 0;
 width: 25rem;
 min-height:100vh;
 transform: translateX(-26rem);
 background-color:#CD9F7B;
 padding:1rem; 
 z-index: 1500;
 overflow: hidden;
}
.move{
  position: fixed;
  transition: 0.6s;
}
header.nav-open .move{
  transform: translateX(26rem);
  position: fixed;
}

.nav-list{
  list-style: none;

}

.nav-item{
  position: relative;
  margin: 1rem 0;
  padding: .5rem 0;
}

.nav-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height:1px;
  left:0;
  bottom:0;
  background: linear-gradient(to right, #fa6c98,purple);
}

.dropdown .nav-item::before{
  display: none;
}

.nav-link{
  color:#fff;
  font-size:1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.5s;
}

.nav-link:hover{
  color:black;
  text-decoration: none;
}

/*dropdown*/
.dropdown-content{
  min-width: 25rem;
  margin-left: 2rem;
  display: none;
}

.show-dropdown{
  display: block;
}



/* End dropdown*/



header{
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
  transition:transform 0.8s;
}

main{
  margin:0 6em;
  padding:2em;
}

main{
  background:#F9F3E8;
  background-image: url("../img/bodytexture.png");
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  text-align: center;

  transition: 0.8s;
}

main.nav-open{
  transform: translateX(26rem);
}
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: double;
  border-top-color: #FDBB87;

}

.header>p{
  line-height: 5em;                                        /*Give space between <h1> and <p>*/
}

.header>img{
  text-align: center;
}






/*lab2:Add space between <section> elements.*/
section{
  margin:30px auto;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*https://www.fonts.com/font/urw/franklin-gothic/medium*/
  font-weight: bold;
  margin-top: 1rem;
  color:#69524B;
}

h3 {
  font-family: 'Bodoni', serif;
  font-style: italic;
  margin-top: 1rem;
  color:#69524B;
}

h4 {
  margin-bottom: 0.25rem;
}

section>h3, section>h4 {
  line-height:3em;
}



/* header nav*/


code {
  background-color: #EEE;
  width:60%;
  padding: 0.5rem;
  display: block;
  margin:0 auto;
  text-align: left;
}





/* 
  INTERACTIVE ELEMENTS -------------------
*/


/*Styling text input field with label*/
.textElement input[type=text]{
  width:30%;
  border:2px solid #EFEFEF;
  display:block;
  margin:1em auto;
}


/* Styling for radio button*/
input[type=radio]{
  width:1rem;
  height:1rem;
  border-radius: 50%;
  -webkit-appearance: inherit;
  border:1px solid #aaa;
  position:relative;
  box-sizing:border-box;
}

input[type=radio]:hover{
  border:1px solid #64644E;
  background:#eee;
}

input[type=radio]:active, input[type=radio]:focus{
  border:1px solid #ccc;
  background:#1abc9c;
}

/*Styling paragraph*/
.para p{
  width:60%;
  line-height:2rem;
  margin:0 auto;
  text-align: left;
}

/*Styling Numbered Lists 
reference:https://www.w3schools.com/css/tryit.asp?filename=trycss_list-style-type_ex*/
ol{
  list-style-type: upper-roman;
  padding-left:1em;
  width:60%;
  margin:0 auto;
}


/*Style the <input> and <label> using Building Forms (Shay Howe) (Links to an external site.) as a guide. Add HTML as necessary to allow further control of the styling, and make sure:
The label and text input look visually related.
The text input shows us when it has been interacted with, both on hover and focus.*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:hover,input[type=text]:focus{
  opacity: 0.5;
}

select{
  width:6em;
}
  







/* 
  TEXT ELEMENTS -------------------
*/
#intext{
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
  transition:font-size 0.5s,font-weight 0.25s;
  
}

#intext:hover,#intext:focus{
  font-size:30px;
  color:#EDCC92;
  font-weight: bolder;
}

/*lab2:Add a different hover and focus state styling to the image as a link.*/
#image{
  
  width: 300px;
  height:auto;
}

#image:hover,#image:focus{
    opacity: 0.95;
    -moz-box-shadow: 0 0 40px #ccc;
    -webkit-box-shadow: 0 0 40px #ccc;
    box-shadow: 0 0 40px #ccc;

}

/* 
  COMBINED ELEMENTS -------------------
*/

/*main nav item*/
.main_nav{
  display:flex;
  min-width:27em;
  max-width:60%;
  background:#CD9F7B;
  justify-content: center;
  margin:0 auto;
  
}
.main_nav a{
  font-size:14px;
  color:white;
  text-decoration:none;
  padding:1em  2em;
  display: inline-block;
}

.main_nav a:hover, .main_nav a:focus{
  background-color:white;
  color:black;
  text-decoration: none;

}


.productImage{                                     /*Styling product image*/
  display:inline-block;
  margin:1rem;
  padding: 1rem;
  background: #F6EDDE;
  border-radius: 5%;
}

.productImage img{
  width:225px;
  height:auto;
  opacity: 0.95;
    -moz-box-shadow: 0 0 40px #ccc;
    -webkit-box-shadow: 0 0 40px #ccc;
    box-shadow: 0 0 40px #ccc;
}

.productImage a{
  font-size:0.9rem;
  color:grey;
  text-decoration: underline;
}

.productImage a:hover, .productImage a:focus{
  color:blue;
  text-decoration: none;
}

/* styling form*/
form{
  background-image: url("../img/payment_texture.png");
   
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-repeat: repeat;
  
  
  width:50%;
  height:auto;
  border-radius: 5%;
  padding:0 2rem 1.5rem 2rem;
  line-height: 2em;
  margin:0 auto;
}

form input[type=text]{
  
  border:2px solid #EFEFEF;
}

form section h3{
font-size:36px;
}

.rd{
  margin:0 1rem;
}

/* style whole page button*/
button{
  padding:.5rem 2rem;
  border-radius:5%;
  border:none;
  color:#F6Edde;
  background-color: #64644E;
  font-weight:bold;
  box-shadow: 5px 5px 5px #7D7D7D;
}

button:hover, button:focus{
  color:#F6Edde;
  background-color: #64644E;
}

#row button[type=submit]{
  float: right;
}


/*Styling cart items and checkout button*/
table{
  width:100%;
}

.tables{
  background: #F6EDDE;
  border: 2px solid #64644E;
  border-radius: 2%;
  min-width:40em;
  max-width:60%;
  margin:0 auto 2rem auto;
  padding:0 1rem;

}

th{
  border-bottom: 2px solid #64644E;
  line-height:2rem;
}

tr{
  text-align: center;
}

td{
  width:auto;
  padding-top:3rem;
}

td img{
  width:200px;
  height:auto;
}

td>button{ /*when in desktop size, "Remove" button will be displayed*/
  margin:0 auto;
  display:block;
}

td i{ /*"X" icon is hidden when in desktop size*/
  display:none !important; /*icon still visible when display:none, add !important to override the code*/

}

#checkoutBtn{
  float: right;
}

.banding li{
  line-height:5rem;
}
li{
  line-height:2rem;
}

ul{
  padding-left:1em;
  list-style-type: none;
}

#citations ul{
  font-size:.88em;
  min-width:27em;
  max-width: 80%;
  margin:0 auto;
  list-style-type: none;
}


/*footer*/
footer{
  background-color: #F6EDDE;
  color:#64644E;
  text-align: center;
  padding: 2rem 0;
  line-height: 2em;
  
}

#up i{ /*Return top button located on the bottom-right of the screen*/
  font-size:2.5rem;
  position:fixed;
  top:92%;
  left:95.5%;
  opacity:.6;
  color:grey;
}

#up i:hover, #up i:focus{
  opacity:1;
  color:#902E3F;
}

































/*Responsive*/
@media screen and (max-width:50em){ /*For mobile and small tablet screen*/
  body{
    min-width:30em; /*Minimum width for mobile screen*/
    max-width:100%;
  }

  main{
    margin:0 25px;
  }

  header>p{
    font-size:1.2rem;                                        /*Give space between <h1> and <p>*/
  }


  /* header nav*/
  #top_nav{
    display:block;
    text-align:center;
  }

  #top_nav a{
    width:100%;
    display:block;
  }

  code {
    width:100%;
    line-height: 2em;
    margin-bottom: 1em;
  }


  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  

  /*Styling text input field with label*/
  .textElement input[type=text]{
    width:60%;
  }


  /* Styling for radio button*/
  input[type=radio]{
    width:1.2rem;
    height:1.2rem;
  }

  /*Styling paragraph*/
  .para p{
    width:100%;
  }



  /* 
    TEXT ELEMENTS -------------------
  */

  /*lab2:Add a different hover and focus state styling to the image as a link.*/
  #image{
    width: 100%;
  }

  /* 
    COMBINED ELEMENTS -------------------
  */

  /*main nav item*/
  .main_nav{
    min-width:27em;
    max-width:80%;
  }

  .productImage img{
    width:300px;
    
  }

  /* styling form*/
  form{
    width:100%;
  }

  /*Styling cart items and checkout button*/
  table{
    width:100%;
  }

  .tables{
    min-width:27em;
    max-width:100%;
  }

  td>button{ /*when in mobile size, "Remove" button will be hidden*/
    display:none;
  }

  td i{ /*"X"icon will be displayed when in mobile size*/
    display:block !important;
    font-size: 2rem;
    color:#FF877F;
  }

  td i:hover, td i:focus{
    color:red;
  }


  #up i{
    font-size:2.5rem;
    position:fixed;
    top:93%;
    left:90%;
  }
}
