/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

*{
  box-sizing:border-box; 
  padding:0;
  margin:0; 
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Neuzeit-Grotesk", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0;
    direction: ltr;
 
  background-image: url("../img/bgtexture.jpg");
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-attachment: scroll;
  background-repeat: repeat-y;
  color:#444442;
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header{
  background-color: #69524B;
  text-align: center;
  color:white;
  padding-top:60px;
}

.menu-toggle{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  color:white;
  cursor: pointer;
  z-index: 2000;
}

.menu-toggle .fa-times{
  display: none;
}



header.nav-open .fa-times{
  display: block;
  z-index:2000;
}

header.nav-open .fa-bars{
  display: none;
}


#top_nav{
 position: absolute;
 top: 0;
 left: 0;
 width: 25rem;
 min-height:100vh;
 transform: translateX(-26rem);
 background-color:#CD9F7B;
 padding:1rem; 
 z-index: 1500;
 overflow: hidden;
}
.move{
  position: fixed;
  transition: 0.6s;
}
header.nav-open .move{
  transform: translateX(26rem);
  position: fixed;
  z-index:1500;
}

.nav-list{
  list-style: none;

}

.nav-item{
  position: relative;
  margin: 1rem 0;
  padding: .5rem 0;
}

.nav-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height:1px;
  left:0;
  bottom:0;
  background: linear-gradient(to right, #fa6c98,purple);
}

.dropdown .nav-item::before{
  display: none;
}

.nav-link{
  color:#fff;
  font-size:1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.5s;
}

.nav-link:hover{
  color:black;
  text-decoration: none;
}

/*dropdown*/
.dropdown-content{
  min-width: 25rem;
  margin-left: 2rem;
  display: none;
}

.show-dropdown{
  display: block;
}



/* End dropdown*/



header{
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
  transition:transform 0.8s;
}

main{
  margin:0 6em;
  padding:2em;
}

main{
  background:#F9F3E8;
  background-image: url("../img/bodytexture.png");
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  text-align: center;
}

main.nav-open{
  transform: translateX(26rem);
}
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: double;
  border-top-color: #FDBB87;

}

.header>p{
  line-height: 5em;                                        /*Give space between <h1> and <p>*/
}

.header>img{
  text-align: center;
}



figcaption{
  font-size:20px;
}


/*lab2:Add space between <section> elements.*/
section{
  margin:30px auto;
}

h2 {
  font-family: 'Playball', cursive;
  font-weight: bold;
  margin-top: 1rem;
  color:#69524B;
}

h3 {
  font-family: 'Bodoni', serif;
  font-style: italic;
  margin-top: 1rem;
  color:#69524B;
}

h4 {
  margin-bottom: 0.25rem;
}

section>h3, section>h4 {
  line-height:3em;
}

.element ol{
  list-style-type: none
}


/* header nav*/
.navButton{
color: #69524B;
font-size: 1.2rem;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: 2s;
}
.navButton:hover{
  cursor: pointer;
  color: black;
  text-decoration: underline;
}



code {
  background-color: #EEE;
  width:60%;
  padding: 0.5rem;
  display: block;
  margin:0 auto;
  text-align: left;
}





/* 
  INTERACTIVE ELEMENTS -------------------
*/


/*Styling text input field with label*/
.textElement input[type=text]{
  width:30%;
  border:2px solid #EFEFEF;
  display:block;
  margin:1em auto;
}


/* Styling for radio button*/
input[type=radio]{
  width:1rem;
  height:1rem;
  border-radius: 50%;
  -webkit-appearance: inherit;
  border:1px solid #aaa;
  position:relative;
  box-sizing:border-box;
}

input[type=radio]:hover{
  border:1px solid #64644E;
  background:#eee;
}

input[type=radio]:active, input[type=radio]:focus{
  border:1px solid #ccc;
  background:#1abc9c;
}

/*Styling paragraph*/
.para p{
  width:60%;
  line-height:2rem;
  margin:0 auto;
  text-align: left;
}

/*Styling Numbered Lists 
reference:https://www.w3schools.com/css/tryit.asp?filename=trycss_list-style-type_ex*/
ol{
  list-style-type: upper-roman;
  padding-left:1em;
  width:60%;
  margin:0 auto;
}


/*Style the <input> and <label> using Building Forms (Shay Howe) (Links to an external site.) as a guide. Add HTML as necessary to allow further control of the styling, and make sure:
The label and text input look visually related.
The text input shows us when it has been interacted with, both on hover and focus.*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:hover,input[type=text]:focus{
  opacity: 0.9;
  -moz-box-shadow:    inset 0 0 5px green;
  -webkit-box-shadow: inset 0 0 5px green;
  box-shadow:         inset 0 0 5px green;
}

select{
  width:6em;
}
  



.banding figcaption{
  margin-top:-3rem;
  margin-bottom: 2rem;
}



/* 
  TEXT ELEMENTS -------------------
*/
#intext{
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
  transition:font-size 0.5s,font-weight 0.25s;
  
}

#intext:hover,#intext:focus{
  font-size:30px;
  color:#EDCC92;
  font-weight: bolder;
}

/* image as a link.*/
#image{
  width: auto;
  height:300px;
  transition: 2s;
}

.imagelink{
  width: auto;
  height:300px;
  overflow: hidden;
}

#image:hover,#image:focus{
    opacity: 0.8;
    transform: scale(1.1);

}

/* 
  COMBINED ELEMENTS -------------------
*/

/*main nav item*/
.main_nav{
  display:flex;
  min-width:27em;
  max-width:60%;
  background:#CD9F7B;
  justify-content: center;
  margin:0 auto;
  
}
.main_nav a{
  font-size:14px;
  color:white;
  text-decoration:none;
  padding:1em  2em;
  display: inline-block;
  transition: 0.5s;
}

.main_nav a:hover, .main_nav a:focus{

  color:black;
  text-decoration: none;

}

.productImageList{
  text-align: center;
  display:flex;
  width:80%;
}

.productImage{                                     /*Styling product image*/
  flex-wrap: wrap;
  width: 30%;
  margin:1rem auto;
  padding: 1rem;
  background: #F6EDDE;
}
.imgcontainer{
  margin: 1rem auto;
  width:225px;
  height:auto;
  overflow: hidden;
}

.productImage img{
  width:225px;
  height:auto;
  transition: 2s;
}
.productImage img:hover{
  transform: scale(1.1);
  opacity: .9;
}

.productImage a{
  font-size:0.9rem;
  color:grey;
  text-decoration: underline;
}

.productImage a:hover, .productImage a:focus{
  color:blue;
  text-decoration: none;
}

/* styling form*/
form {
  font-size: 1.2rem;
  padding: 1.2rem;
  text-align: left;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 1rem;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
  font-size: 1.2rem;
}

.col-25 p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  ;
}

.col-25 h4 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  ;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25, .col-50, .col-75 {
  padding: 0 16px;
}

.container {
  background-color: #cfcccc85;
  padding: 3px 18px 13px 18px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 18px;
  padding: 7px 0;
  font-size: 24px;
}

.submitBtn {
  padding: 12px;
  cursor: pointer;
  border: none;
  color: #F6Edde;
  background-color: #64644E;
  font-weight: bold;
  width: 100%;
  transition: 0.8s;
}

.submitBtn:hover {
  color: black;
  background-color: #EDCC92;
}

.col-25 a {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.col-radio, .col {
  margin-bottom: 2rem;
}

.col label, .col input, .col-radio label {
  display: block;
  margin: 0 auto;
}

.rd {
  margin: 0 1rem;
}

#row button[type=submit] {
  float: right;
}

/* style whole page button*/
button{
  padding:.5rem 2rem;
  border:none;
  color:#F6Edde;
  background-color: #64644E;
  font-weight:bold;

  transition: 0.5s;
}

button:hover, button:focus{
  color:black;
  background-color: #EDCC92;
}




#row button[type=submit]{
  float: right;
}


/*Styling cart items and checkout button*/
table{
  width:100%;
}

.tables{
  border-top: 1px solid #64644E;
  border-bottom: 1px solid #64644E;
  min-width:40em;
  max-width:60%;
  margin:0 auto 2rem auto;
  padding:0 1rem;

}

th{
  line-height:2rem;
}

tr{
  text-align: center;
}

td{
  width:auto;
  padding-top:3rem;
}

td img{
  width:200px;
  height:auto;
}

td>button{ /*when in desktop size, "Remove" button will be displayed*/
  margin:0 auto;
  display:block;
}

td i{ /*"X" icon is hidden when in desktop size*/
  display:none !important; /*icon still visible when display:none, add !important to override the code*/

}

#checkoutBtn{
  float: right;
}

.banding li{
  line-height:5rem;
}
li{
  line-height:2rem;
}

ul{
  padding-left:1em;
  list-style-type: none;
}

#citations ul{
  font-size:.88em;
  min-width:27em;
  max-width: 80%;
  margin:0 auto;
  list-style-type: none;
}


/*footer*/
footer{
  background-color: #F6EDDE;
  color:#64644E;
  text-align: center;
  padding: 2rem 0;
  line-height: 2em;
  
}

#up i{ /*Return top button located on the bottom-right of the screen*/
  font-size:2.5rem;
  position:fixed;
  top:92%;
  left:95.5%;
  opacity:.6;
  color:grey;
}

#up i:hover, #up i:focus{
  opacity:1;
  color:#902E3F;
}

































/*Responsive*/
@media screen and (max-width:480px){ /*For mobile and small tablet screen*/
  body{
    min-width:30em; /*Minimum width for mobile screen*/
    max-width:100%;
  }

  main{
    margin:0 25px;
  }

  header>p{
    font-size:1.2rem;                                        /*Give space between <h1> and <p>*/
  }


  /* header nav*/
  #top_nav{
    display:block;
    text-align:center;
  }

  #top_nav a{
    width:100%;
    display:block;
  }

  code {
    width:100%;
    line-height: 2em;
    margin-bottom: 1em;
  }


  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  

  /*Styling text input field with label*/
  .textElement input[type=text]{
    width:60%;
  }


  /* Styling for radio button*/
  input[type=radio]{
    width:1.2rem;
    height:1.2rem;
  }

  /*Styling paragraph*/
  .para p{
    width:100%;
  }



  /* 
    TEXT ELEMENTS -------------------
  */

  /*lab2:Add a different hover and focus state styling to the image as a link.*/
  
  /* 
    COMBINED ELEMENTS -------------------
  */

  /*main nav item*/
  .main_nav{
    min-width:27em;
    max-width:80%;
  }



  /* styling form*/
  form{
    width:100%;
    padding: .6rem;
  }

  /*Styling cart items and checkout button*/
  table{
    width:100%;
  }

  
.tables{
  background: #F6EDDE;
  border: none;
  margin:0 auto;
  margin-left: -1em;
  padding:0 1rem;
  min-width: 110%;
}
  td>button{ /*when in mobile size, "Remove" button will be hidden*/
    display:none;
  }

  td i{ /*"X"icon will be displayed when in mobile size*/
    display:block !important;
    font-size: 2rem;
    color:#FF877F;
  }

  td i:hover, td i:focus{
    color:red;
  }


  #up i{
    font-size:2.5rem;
    position:fixed;
    top:93%;
    left:90%;
  }

  .productImageList{
    display: block;
    width: 100%;
    margin: 0;
  }

  .productImage{
    width: 100%;
    margin: 2rem auto;
  }
  .banding ol{
    width: 100%;
  }
  .banding li{
    line-height: 2rem;
  }

  .banding ul li img{
    width: 100%;
  }

  .banding figcaption{
    margin-top:-.5rem;
    margin-bottom: 2rem;
  }
}
